{% extends "bank/base.html" %}


{% block content %}
<form id="rended_form" class="" action="." method="get">
    <label for="rented">Rendu :</label>
    <input type="checkbox" id="rented" name="rented" checked />
    <button type="submit" name="submit">rechercher</button>
</form>
<section class="">
    {% for movie in object_list %}
        <article class="">
            <h2>
                <a href={% url 'detail-movie' movie.slug %}>
                    {{movie.title}}
                </a>
                <a href={% url 'update-movie' movie.slug %}>
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a href={% url 'delete-movie' movie.slug %}>
                    <i class="fas fa-times"></i>
                </a>
            </h2>
            <sub>{{movie.length}}</sub>
            <h3>
                De :{{movie.director}}
            </h3>
            <h4>
                Nationalité: {{movie.country}}
            </h4>
            <p><strong>synopsis : </strong>{{movie.synopsis}}</p>

        </article>
    {% endfor %}
</section>
{% endblock %}
