{% load static %}

<!DOCTYPE html>
<html>
{% block head %}
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>vidéo</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/reset.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
{% endblock %}

<body>
   <div id="page" class="container container-fluid">
        {% block header %}
            {% include "bank/header.html" %}
        {% endblock %}

       <main>
            <div class="contener-fluid">
                {% block content %}
                {% endblock %}
            </div>
       </main>
   </div>

   {% block script %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

    {% block js_dependencies %}
    {% endblock %}
</body>

</html>
